* { margin: 0; 
    padding: 0; 
}

.banner{
    background-color: rgba(5,5,5,255);
    font-family: 'Marcellus SC', serif;
    font-size: larger;
}
.body2 {
    background-color: rgba(5,5,5,255);
    border-radius: 0.5rem;
    box-shadow: 0px 7px 20px 0.5px #fffffffa;
    overflow: hidden;
}

.body-jefes {
    background-color: rgba(5,5,5,255);
}

footer {
    padding-top: 2vw;
    color: rgb(114, 110, 106);
    font-style: italic;
}

.secciones {
   font-style: italic;
   color: $Variable2;
   font-family: 'Marcellus SC', serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-image: url("../imagenes/fondo.jpg");    
    }


